
 h3{
   margin-top: 2%;
 } 
  .mat-card {
 
    margin-bottom: 10px;
    margin-right: 10px;
    
  }
  
  .mat-card:hover {
    background-color: #007bff;
  }
  
  .mat-card:hover a {
    color:  white;;
  }
  
  .mat-card a:hover {
    color: white;
    text-decoration: none;
  }
 
  
  .mr-10 {
    margin-right: 10%;
  }
  
  .ml-10 {
    margin-left: 5%;
  }
  
  @media (max-width: 600px) {
    mat-card {
      min-width:17rem;
    }
  }